<!-- <div style="border:1px solid black; padding:5px; margin:5px;">
    This is Angular Material Grid System.
</div>
<md-grid-list cols="4" rowHeight="100px">
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
    </md-grid-tile>
</md-grid-list> -->

<!-- Theme -1 -->
<!-- <div class="ns-edss-theme">
    <md-select placeholder="Favorite food">
    <md-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
    </md-option>
    </md-select>
    <br/>
    <md-form-field class="example-full-width">
        <input mdInput placeholder="Favorite food" value="Sushi">
    </md-form-field>
    <br/>
    <md-checkbox>Check me!</md-checkbox>
</div> -->

<!-- Theme -2 -->
<!-- <div class="ns-25walk-theme">
        <md-select placeholder="Favorite food">
        <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </md-option>
        </md-select>
        <br/>
        <md-form-field class="example-full-width">
            <input mdInput placeholder="Favorite food" value="Sushi">
        </md-form-field>
        <br/>
        <md-checkbox>Check me!</md-checkbox>
</div> -->