<div class="header-area">
    <div class="edss-caseload" *ngIf="isEdssSelected">
        <button md-button class="virtual-buttons" (click)="toggleEdssVirtualCaseload()">{{toggleVirtualCaseLoad}}</button>
    </div>
    <div class="btn-info" (click)="showVirtualCaseloadInfo($event)" *ngIf="isEdssSelected"><span class="">i</span></div>
    <div class="right-float">
        <div class="action-buttons disabled"><span class="icon-avsneuroshare"></span></div>
        <div class="action-buttons"><span class="icon-notesneuroshare"></span></div>
    </div>
</div>
<div id="graph-panel-wrapper">
    <div id="graph-container" style="position:relative;">
        <svg width="100%" [style.height.px]="graphSetting.panel.offsetHeight">
            <g app-shared-grid [chartState]="state" (menuClicked)="menuClicks($event)" id="shared-grid"></g>
            <g app-labs [chartState]="state" id="labs"></g>
            <g app-imaging [chartState]="state" id="imaging"></g>
            <g app-relapses [chartState]="state" id="relapses"></g>
            <g app-edss [chartState]="state" id="edss"></g>
        </svg>
        <div app-medications [chartState]="state" id="medications-container" [style.top.px]="graphSetting.medications.positionTop"
            [style.height.px]="graphSetting.medications.containerHeight" style="position:absolute;width:100%;overflow-y:auto;overflow-x:hidden;background-color:#FFF;border:1px solid #E7E7E7;padding-top:5px;">
        </div>
    </div>
    <div id="graph-control">
        <div id="undo" class="control-button"><span class="icon-reloadneuroshare"></span></div>
        <div id="legend" class="control-button"><i class="material-icons">speaker_notes</i></div>
        <div id="zoom" class="control-button">
            <i class="material-icons">zoom_in</i>
    </div>
    </div>
</div>

<ng-template #virtualCaseloadInfoTemplate>
    <div class="virtual-caseload-header">
        <div class="virtual-caseload-title">Virtual Caseload</div>
        <div class="virtual-caseload-close">
            <i (click)="virtualCaseloadInfoDialogRef.close()" class="material-icons">clear</i>
          </div>
    </div>
    <div class="modal-body">
        <div class="virtual-caseload-content">
            This is a cohort of comparable patients from UCSF and other clinical centers who were all prospectively followed in the modern treatment era.Visualizing your patient's course in the context of this 'virtual caseload' of treated MS patients may highlight patients who may require intensification of treatment.
        </div>
    </div>
</ng-template>