.ns-labs-study{
    width: 30%;
    display:inline-block;
    font-weight: bold;
    height:35px;

}
.ns-labs-study-40{
    width: 40%;
    display:inline-block;
    font-weight: bold;
    height:35px;

}
.ns-labs-study-trend{
    width: 20%;
    display:inline-block;
    font-weight: bold;
    height:35px;

}
.ns-labs-study-30{
    width: 30%;
    display:inline-block;
    font-weight: bold;

}
.ns-labs-study-small{
    width: 5%;
    display:inline-block;
    font-weight: bold;
    height:35px;

}
.ns-labs-study-vsmall{
    width: 2px;
    display:inline-block;
    font-weight: bold;
    height:35px;

}
.labs-container{padding: 10px;padding-left:20px;}
.ns-labs-sub-header{
    padding: 3px;

}
.ns-labs-back
{
    background-color: #eee;
    padding: 3px;
}
.ns-labs-green-no-pad
{
    background-color: green;
}
.ns-labs-red-no-pad
{
    background-color: red;
 }
.ns-labs-grey-no-pad
{
    background-color: darkgrey;
  }
.ns-labs-green
{
    background-color: green;
    color:white;
    padding:3px;
}
.ns-labs-red
{
    background-color: red;
    color:white;
    padding:3px;
}
.ns-labs-grey
{
    background-color: darkgrey;
    color:white;
    padding:3px;
}
.ns-labs-small-font
{
    font-size:9pt;
}