.ns-imaging-header-study{
background-color: #efe4f4; padding: 5px;
margin-bottom: 10px;
}
.ns-imaging-sub-header{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #AAAAAA;

    }
.ns-imaging-study{
    width: 30%;
    display:inline-block;
    font-weight: bold;
    padding: 3px;

}
.ns-imgression{
    margin-bottom: 10px;
}